<div class="card rounded">
  <div class="card-header">
    <div class="card-title">
      Favourite Books
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Cover</th>
              <th>Title</th>
              <th>Author</th>
              <th>Editor</th>
              <th>Genre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of loggedUser.favourites">
              <td>
                <img [src]="book.imagePath" />
              </td>
              <td>{{ book.title }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.editor }}</td>
              <td>{{ book.genre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ul>
  </div>
</div>
