<div class="card rounded">
  <div class="card-header">
    <div class="card-title">
      Borrowed Books
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date Of Borrow</th>
              <th>Days left</th>
              <th>Isbn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let loan of loans">
              <td>{{loan.bookTitle}}</td>
              <td>{{loan.dateStart | date : 'dd/MM/yyyy'}}</td>
              <td>{{loan.daysLeft}}</td>
              <td>{{loan.isbn}}</td>
              <button class="btn btn-danger" (click)="returnBook(loan.idBook)">Return</button>
            </tr>
            <tr>
          </tbody>
        </table>
      </div>
    </ul>
  </div>
</div>
