<div class="card rounded">
  <div class="card-header">
    <div class="card-title">
      Borrowed Books
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <div class="table-responsive">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>Cover</th>
              <th>Title</th>
              <th>Author</th>
              <th>Editor</th>
              <th>Genre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img src="https://source.unsplash.com/random/100x151" />
              </td>
              <td>Titolo</td>
              <td>Autore</td>
              <td>Editore</td>
              <td>Genre</td>
            </tr>
            <tr>
              <td>
                <img src="https://source.unsplash.com/random/101x152" />
              </td>
              <td>Titolo</td>
              <td>Autore</td>
              <td>Editore</td>
              <td>Genre</td>
            </tr>
            <tr>
              <td>
                <img src="https://source.unsplash.com/random/102x153" />
              </td>
              <td>Titolo</td>
              <td>Autore</td>
              <td>Editore</td>
              <td>Genre</td>
            </tr>
            <tr>
              <td>
                <img src="https://source.unsplash.com/random/103x154" />
              </td>
              <td>Titolo</td>
              <td>Autore</td>
              <td>Editore</td>
              <td>Genre</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ul>
  </div>
</div>
