<div class="backdrop" >
  <div class="modal-box">
    <div class="container p-5 bg-light">
      <div class="row">
        <h3 class="mb-2">Create a free account!</h3>
        <hr>
        <fa-icon [icon]="iconsArray[6]" class="fa-lg text-danger" (click)="close()" style="cursor: pointer;"></fa-icon>
      </div>
      <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <!-- #####################input groups -->
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[2]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="name"
            placeholder="Name"
            formControlName="name"
          />
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[2]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="surname"
            placeholder="Surname"
            formControlName="surname"
          />
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[1]"></fa-icon>
            </span>
          </div>
          <!-- rendere più complesso il campo della mail -->
          <input
            type="text"
            class="form-control form-control-lg"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[3]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="adress"
            placeholder="Adress"
            formControlName="adress"
          />
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[4]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="city"
            placeholder="City"
            formControlName="city"
          />
        </div>
        <div class="input-group my-2 has-error">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[5]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="phone"
            placeholder="Phone Number"
            formControlName="phoneNumber"
            [ngClass]="{
              'is-valid':
                registrationForm.get('phoneNumber').touched &&
                registrationForm.get('phoneNumber').valid
            }"
            [ngClass]="{
              'is-invalid':
                registrationForm.get('phoneNumber').touched &&
                registrationForm.get('phoneNumber').invalid
            }"
          />
        </div>

        <button
          class="btn btn-block btn-outline-success mt-2 "
          type="submit"
          [disabled]="registrationForm.invalid"
        >
          <fa-icon [icon]="iconsArray[0]"></fa-icon>
          Submit!!!
        </button>
      </form>
    </div>
  </div>
</div>

<!-- ###################################### CLASSIC FORM -->
<!-- <div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control form-control-lg" id="name" />
</div>
<div class="form-group">
  <label for="surname">Surname</label>
  <input type="text" class="form-control form-control-lg" id="surname" />
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="text" class="form-control form-control-lg" id="email" />
</div>
<div class="form-group">
  <label for="adress">Adress</label>
  <input type="text" class="form-control" id="adress" />
</div>
<div class="form-group">
  <label for="city">City</label>
  <input type="text" class="form-control" id="city" />
</div>
<div class="form-group">
  <label for="phoneNumber">PhoneNumber</label>
  <input type="text" class="form-control" id="phoneNumber" />
</div> -->
