<div class="backdrop">
  <div class="modal-box">
    <div class="container p-5 bg-light">
      <div class="row">
        <h3 class="mb-2">Create a free account!</h3>
        <hr />
        <fa-icon
          [icon]="iconsArray[6]"
          class="fa-lg text-danger"
          (click)="close()"
          style="cursor: pointer;"
        ></fa-icon>
      </div>
      <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <!-- #####################input groups -->
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[2]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="name"
            placeholder="Name"
            formControlName="name"
            bootstrapValidatorAdder
          />
          <div class="invalid-feedback">Only Letters !!!</div>
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[2]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="surname"
            placeholder="Surname"
            formControlName="surname"
            bootstrapValidatorAdder
          />
          <div class="invalid-feedback">Only Letters !!!</div>
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[1]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="email"
            placeholder="Email"
            formControlName="email"
            bootstrapValidatorAdder
          />
          <div class="invalid-feedback">Invalid mail format</div>
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[3]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="adress"
            placeholder="Adress"
            formControlName="adress"
            bootstrapValidatorAdder
          />
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[4]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="city"
            placeholder="City"
            formControlName="city"
            bootstrapValidatorAdder
          />
          <div class="invalid-feedback">Only Letters !!!</div>
        </div>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <fa-icon [icon]="iconsArray[5]"></fa-icon>
            </span>
          </div>
          <input
            type="text"
            class="form-control form-control-lg"
            id="phone"
            placeholder="Phone Number"
            formControlName="phoneNumber"
            bootstrapValidatorAdder
          />
          <div class="invalid-feedback"  *ngIf="registrationForm.get('phoneNumber').hasError('onlyNumbers') ">Only Numbers !!!</div>
          <div class="invalid-feedback">Phone number must be 10 digits</div>
          <div class="input-group my-2">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="iconsArray[7]"></fa-icon>
              </span>
            </div>
            <input
              type="text"
              class="form-control form-control-lg"
              id="password"
              placeholder="New Password"
              formControlName="password"
              bootstrapValidatorAdder
            />
            <div *ngIf="passwordField.hasError('noNumber')" class="invalid-feedback">At least one Number is required</div>
            <div *ngIf="passwordField.hasError('noCapitalLetter')" class="invalid-feedback">At least one Capital letter is required</div>
            <div *ngIf="passwordField.hasError('noSmallLetter')" class="invalid-feedback">At least one Small letter is required</div>
            <div *ngIf="passwordField.hasError('noSpecialCharacter')" class="invalid-feedback">At least one Special Character is required</div>
          </div>
          <div class="input-group my-2">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="iconsArray[7]"></fa-icon>
              </span>
            </div>
            <input
              type="text"
              class="form-control form-control-lg"
              id="confirmPassword"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              bootstrapValidatorAdder
            />
          </div>
        </div>
        <br>
        <div *ngIf="touchedFields('password', 'confirmPassword') && registrationForm.hasError('passwordsDoesntMatch')"  class="text-danger">Passwords must be the same</div>
        <div *ngIf="touchedFields('name', 'surname') && registrationForm.hasError('name=surname')">Name and Surname must be different</div>


        <button
          class="btn btn-block btn-outline-success mt-2 "
          type="submit"
          [disabled]="registrationForm.invalid"
          [ngClass]=""
        >
          <fa-icon [icon]="iconsArray[0]"></fa-icon>
          Submit!!!
        </button>
      </form>
    </div>
  </div>
</div>

<!-- ###################################### CLASSIC FORM -->
<!-- <div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control form-control-lg" id="name" />
</div>
<div class="form-group">
  <label for="surname">Surname</label>
  <input type="text" class="form-control form-control-lg" id="surname" />
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="text" class="form-control form-control-lg" id="email" />
</div>
<div class="form-group">
  <label for="adress">Adress</label>
  <input type="text" class="form-control" id="adress" />
</div>
<div class="form-group">
  <label for="city">City</label>
  <input type="text" class="form-control" id="city" />
</div>
<div class="form-group">
  <label for="phoneNumber">PhoneNumber</label>
  <input type="text" class="form-control" id="phoneNumber" />
</div> -->
