<div class="card">
  <div class="card-header">
    <h5 class="card-title">{{ bookToShow.title }}}</h5>
  </div>
  <div class="card-body">
    <table class="table table-flush">
      <tr>
        <td>
          Author
        </td>
        <td>
          {{ bookToShow.author }}
        </td>
      </tr>

      <tr>
        <td>
          Genre
        </td>
        <td>
          {{ bookToShow.editor }}
        </td>
      </tr>

      <tr>
        <td>
          Editor
        </td>
        <td>
          {{ bookToShow.editor }}
        </td>
      </tr>

      <tr>
        <td>
          Isbn
        </td>
        <td>
          {{ bookToShow.isbn }}
        </td>
      </tr>

      <tr>
        <td>
          Id
        </td>
        <td>
          {{ bookToShow.idBook }}
        </td>
      </tr>

    </table>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-dark btn-block">
      Remove
    </button>
    <button
     class="btn btn-outline-dark btn-block">
      Update
    </button>
  </div>
</div>
